# Java
target/
*.class
*.log

# Node
node_modules/
dist/
.vite/
*.tsbuildinfo
vite.config.js
vite.config.d.ts
npm-debug.log*

# IDEs
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Local config
.env
